body {
	width: 1200px;
	margin: auto;
	background-color: #292727;
}

#title {
	font-family: serif;
	font-size: 25px;
	
}

#menu {
	margin: auto;
	position: relative;
	width: 400px;
}

#menu li a:hover {
	color: red;
}

#menu li a{
	text-decoration: none;
	font-size: 16px;
	font-family: sans-serif;
	color: black;	
}

.menu_list {
	display: inline;
	padding: 10px;
}

.back_place {
	
	position: relative;
	height: 100px;
}

.back{
	margin: auto;
	margin-top: 20px;
	margin-left: -15px;
	width: 1140px;
	height: 250px;
	background-color: lightgrey;
	background-image: url(../img/box_back1.jpg);
	position: relative;
	padding: 30px;

}

.number_box {
	padding: 5px;
	text-align: center;
	font-size: 30px;
	margin-top: 70px;
	background-color: lightgrey;
	width: 80px;
	height: 50px;
	position: absolute;
}

#Up_arrow {
	width: 40px;
	height: 40px;
	display: none;
	position: absolute;
}

.btn {
	width: 120px;
	color: black;
}

.algo-select {
	float: left;
	font-size: 15px;
	color: lightgrey;
}

#algo_selection {
	color: black;
}
select {
	size: 15px;
}